
// body {
//    background:url(/images/background.jpg);
//    background-repeat: no-repeat;
//    background-attachment: fixed; //是否滚动，fixed固定
//    background-size: cover;      //填充
//    background-position: center;
//}

.tag-cloud a {
  box-shadow: 0 1px 3px #6f42c1, 0 1px 2px #cd73ff;
  padding: 2px 10px;
  margin: 8px;
  background: none;
  border-bottom: none;
  border-radius: 5px;
}

@media (prefers-color-scheme: light) {
 .tag-cloud a {
    color: #555;
 }
 .tag-cloud a:hover {
    color: #000;
 }
 .site-brand-container {
   background: #800080;
 }
}

@media (prefers-color-scheme: dark) {
 .tag-cloud a {
    color: #aaa;
 }
 .tag-cloud a:hover {
    color: #fff;
 }
 .site-brand-container {
   background: #555;
 }
}

//more button
.post-button {
  margin-top: 40px;
  text-align: right;
}

.post-button .btn {
  border: none;
}

.beian img {
  max-width: 16px !important;
  display: inline-block !important;
  border-style: none !important;
  margin: 0 3px !important;
  vertical-align: middle !important;
}
